

<div class="" style="float: inherit;">
    <a class="btn btn-primary" href="/Planta/Agregar" role="button">Agregar Planta</a>
    <a class="btn btn-primary" href="/Planta/Eliminar" role="button">Eliminar Planta</a>
    <a class="btn btn-primary" href="/Planta/Modificar" role="button">Modificar Planta</a>
    <a class="btn btn-primary" href="/Planta/Listar" role="button">Listar Planta</a>
</div>
